.btn{
    padding: 20px;
    color: rgb(229, 255, 0);
    background-color: rgb(5, 122, 148);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.container{
    display: flex;
    align-items: center;
}
.btn:hover{
    background-color: rgb(170, 15, 198);
}