.container{
    width: 300px;
    background-color: aqua;
    border: 2px solid black;
    border-radius: 4px;
    text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
.title{
    font-size: 24px;
    font-weight: bold;
}